.container {
    
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    min-height: 900px;

}

.rsp-buttons {
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.scoreAndSpan {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

.resetbtn {
    background-color: red;
    
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button {
    background-color: royalblue;
    color: white;
    border-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

h2 {
    text-align: center;
}

